# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cph
test
.gitignore
.vscode/settings.json
vector_intro
str_test
str_test
mutithreading
main
str_test
.vscode/c_cpp_properties.json
process_thread
build/codeforces
multithreading
build/codeforces
